@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1660123684246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-location:before {
  content: "\e790";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-calendar:before {
  content: "\e7d3";
}

.icon-camera:before {
  content: "\e7d7";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-image:before {
  content: "\e7de";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-download:before {
  content: "\e7ef";
}

.icon-moon:before {
  content: "\e866";
}

.icon-moon_stars:before {
  content: "\e867";
}

.icon-sun_max:before {
  content: "\e8b2";
}

.icon-sunrise:before {
  content: "\e8cc";
}

.icon-sunset:before {
  content: "\e8cd";
}

.icon-chuangge3:before {
  content: "\e61f";
}

.icon-chuangge16:before {
  content: "\e620";
}

.icon-chuangge2:before {
  content: "\e621";
}

.icon-chuangge4:before {
  content: "\e622";
}

.icon-chuangge10:before {
  content: "\e623";
}

.icon-chuangge14:before {
  content: "\e624";
}

.icon-chuangge11:before {
  content: "\e625";
}

.icon-chuangge9:before {
  content: "\e626";
}

.icon-chuangge1:before {
  content: "\e627";
}

.icon-chuangge13:before {
  content: "\e628";
}

.icon-chuangge12:before {
  content: "\e629";
}

.icon-chuangge15:before {
  content: "\e62a";
}

.icon-chuangge7:before {
  content: "\e62b";
}

.icon-chuangge8:before {
  content: "\e62c";
}

.icon-chuangge5:before {
  content: "\e62d";
}

.icon-chuangge6:before {
  content: "\e62e";
}

